.app-banner {
    display: flex;
    flex-direction: row;
    text-align: left;
    height: 2.5rem;
}

.app-banner-name {
    flex-grow: 1;
    height: 100%;
    display: table;
}

.app-banner-content {
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
}

.app-banner-links {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    transition: all 0.3s ease;
    align-items: center;
}

.app-banner-links.open {
    display: flex;
}

.menu-toggle {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
}


.app-banner-name-span {
    vertical-align: middle;
    display: table-cell;
}

/* mobile styling */
@media (max-width: 768px) {
    .app-banner {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .menu-toggle {
        display: table;
        height: 100%;
        flex-basis: 10%;
    }

    .menu-toggle-span {
        display: table-cell;
        vertical-align: middle;
    }

    .app-banner-links {
        display: none;
        flex-direction: column;
    }

    .app-banner-links.open {
        display: flex;
        position: absolute;
        background-color: #242424;
        margin-top: calc(2.5rem + 1px);
        /* margin-top: calc(5vh + 1px); */
        width: 100%;
        text-align: center;
        overflow-x: hidden;
    }

    .app-banner-content {
        padding: 5px 0;
    }

    .app-banner-name-span {
        flex-basis: 90%;
    }


}

hr {
    margin: 0;
    /* This reduces line width to 1px */
    width: 100%;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
}